
    {{#each products}}
    <article class="product-container">
        <header class="product-header">
            <img src="#" alt="" class="product-image">
            <h1 class="product-title margin-1">{{this.title}}</h1>
        </header>
        <footer class="product-footer">
            <h3 class="product-description margin-1">{{this.description}}</h3>
            <button class="margin-1 product-button">Comprar producto</button>
                    <td>{{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>

        </footer>
    </article>
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>

    </tr>
    {{/each}}